appdirs==1.4.4
aws-okta-processor==1.3.4
beautifulsoup4==4.8.2
boto3==1.12.31
botocore==1.15.31
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0.post1
distlib==0.3.0
docopt==0.6.2
docutils==0.15.2
ecdsa==0.15
envs==1.3
filelock==3.0.12
future==0.18.2
idna==2.9
importlib-metadata==1.6.0
invoke==1.4.1
jmespath==0.9.5
pyaetion==0.12.8
pycryptodome==3.3.1
python-dateutil==2.8.1
python-jose-cryptodome==1.3.2
requests==2.23.0
s3transfer==0.3.3
sari-cli==0.14.0
schema-pycli==0.2.1
six==1.12.0
soupsieve==2.0
tabulate==0.8.7
terrasnek==0.0.8
urllib3==1.25.8
virtualenv==20.0.21
warrant==0.6.1
zipp==3.1.0
