# config file for ansible -- http://ansible.com/
# ==============================================
[defaults]
inventory      = ~/.ansible/hosts
remote_tmp     = ~/.ansible/tmp
local_tmp      = ~/.ansible/tmp
forks          = 5
transport      = smart
remote_port    = 22
gathering = implicit
gather_subset = all
gather_timeout = 10
host_key_checking = False
# SSH timeout
timeout = 10
remote_user = root
deprecation_warnings = True
nocows = 1
fact_caching = memory
retry_files_enabled = False

[ssh_connection]
scp_if_ssh = smart

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
